html {
	*overflow-x: hidden;
	/*background:#F5F5D5;*/
}
.container {
    font-family: "SimSun", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 18px;
    margin: 60px 20% 5% 5%;
    padding: 2% 5% 5% 5%;
    width: 50%;
    line-height: 150%;
    border: 1px solid LightGrey;
    *overflow-x: hidden;
    position:relative;
    max-width:700px;
}
#weiboBox {
    width: 45%;
    top:0;
    right: -50%;
    position:absolute;
    background:#FFF;
}
h1 {
    font-family: STKaiti, "Kaiti SC", "SimSun", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h2 {
    font-family: STKaiti, "Kaiti SC", "SimSun", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-bottom: 60px;
    margin-bottom: 40px;
    padding: 5px;
    border-bottom: 2px LightGrey solid;
    width: 90%;
    line-height: 150%;
    color: DarkGreen;
}


h3 {
    font-family: STKaiti, "Kaiti SC", "SimSun", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom: 1px LightGrey solid;
    width: 80%;
    line-height: 150%;
    color: DarkBlue;
}


h4 {
    font-family: STKaiti, "Kaiti SC", "SimSun", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom: 1px LightGrey solid;
    width: 80%;
    line-height: 150%;
    color: DarkBlue;
}


li {
    margin-left: 10px;
}


blockquote {
    padding-left: 5px;
    margin-left: 20px;
    padding-left: 20px;
    border: 1px dotted #CCC;
	border-left: 8px #D3D3D3 solid;
	background: #F5F5F5;
	padding-right: 5px;
	border-radius:8px;
}


pre {
    font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy;
    text-indent:-1em;
    font-size: 75%;
    border: dotted 1px #CC929A;
    background-color: Ivory;
    padding: 5px;
    line-height: 130%;
    /*margin-left: 10px;*/
    width: 95%;
    overflow:hidden;
    overflow-x:auto;
    background-color: #F5F2F0;
	padding: 1em;
	/* margin: 2em 2em; */
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border-width: 1em;
	border-color: #E0DFCC;
	border-style: solid;
	text-shadow: 0 1px #FFF;
	line-height: 180%;
	/* margin-left: 0.8em; */
	width:auto;
}
pre code {
    border: none;
    background: none;
    margin-top: 1em;
	line-height: 180%;
	margin-left: 0.8em;
	font-size: 16px;
}
code {
    font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy;
    font-size: 90%;
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 0 6px;
    background: #FAFAFA;
    margin: 0 3px;
}

a {
    text-decoration: none;
    color: #4A75B5;
}
a:hover {background: #4A75B5; text-decoration:underline; color:#FFF;}

#container img {
    margin-left: 10px;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0.7em solid #E0DFCC;
	-moz-border-radius: 0.7em;
	-webkit-border-radius: 0.7em;
	border-radius: 0.7em;
	max-width:90%;
}


hr {
    color: LightGrey;
}


.forkme:hover {background:none;}
.edit { display:none;}
.edit a { color:red; font-size:10px; border:none; margin-left:10px;}

#shareList li {padding-left: 8px;line-height: 24px;}
#shareList li time {color: #AAA;font-family: Monaco, "Courier New", monospace;font-size:14px;}
#shareList li a{ border:none;}

.home-menu { position:fixed; top:15px; left:15px; z-index:5; font-size:0; _position:absolute;}
.home-menu-icon { line-height:38px; padding:0 8px; display:inline-block; color:#fff; font-size:18px;  background:#000; }
.home-follow { margin-left:2px; line-height:38px; padding:0 8px; display:inline-block; color:#fff; font-size:18px; background:#000;  }
.home-menu-icon:hover,
.home-follow:hover { color:#fff; text-decoration:none; }
.home-contact { color:#fff; height:20px; margin-top:2px; background:#000; padding:8px 0 7px; text-align:center; display:none;}
.home-contact a { width:30px; display:inline-block; }
.home-contact a:hover {background:none;}
.home-contact img { width:18px; margin:0; }

.home-icon-con:hover .home-contact { display:block;};

#tags {
    
}

#tags span {
    border: 1px solid #CCC;
    background: #EFEFEF;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 8px;
    padding: 0px 8px;
    font-size: 14px;
    border-radius: 6px;
}

.page-paginator {
    margin: 10px 0;
}

@media screen and (max-width:641px){
  #weiboBox {display:none;}
  .container {
      padding:2%;
      width:90%;
      margin:70px 3%;
      max-width:auto;
      font-size:14px;
      overflow:hidden;
  }
  html,body {
      overflow-x:hidden;
  }
  pre code {font-size:12px;}
  h2 {
    margin-bottom: 30px;
    margin-bottom: 20px;
}


h3 {
    margin-top: 20px;
    margin-bottom: 15px;
}
}





