---
layout: default
title: Snippets
---
<div class="codeTypes" id="codeTypes"></div>
<div class="codePreview" id="codePreview">
	<div class="typeList" id="typeList"></div>
	<div class="codebox" id="codebox">
		<i class="icon close" id="close">&#xe624;</i>
		<div class="code" id="code">
      <i class="icon close" id="close">&#xe624;</i>
      <div class="codectt" id="codectt"></div>
    </div>
	</div>
</div>
<script>
var snippets = [
{% for item in site.pages %}
  {% assign dir = item.dir | slice: 0, 10 %}
  {{dir}}
	{% if dir == '/snippets/' %}
		{% assign type = item.dir | remove: '/snippets/' %}
 		{ type: "{{ type }}", title: "{{ item.title }}", url: "{{ item.url }}" },
	{% endif %}
{% endfor %}
{}].slice(0, -1);
</script>