---
layout: default
title: Snippets
---
<a href="{{site.new_path}}" class="add-snippet" target="_blank">+<b>添加 Snippet</b></a>
<div class="search-mask"><i class="icon search-close" title="关闭搜索">&#xe624;</i></div>
<div class="codeTypes" id="codeTypes"></div>
<div class="codePreview" id="codePreview">
  <div class="search">
    <span class="search-info"></span>
    <input type="text" placeholder="按 Enter 展示结果" id="q" name="q" autocomplete="false" />
  </div>
	<div class="typeList" id="typeList"></div>
	<div class="codebox" id="codebox" data-baseurl="{{site.edit_path}}">
		<i class="icon close" id="close" title="关闭预览">&#xe624;</i>
    <a class="icon pen" title="编辑代码" href="#" target="_blank">&#xe601;</a>
    <a href="javascript:var d=document;var b=d.body;if(b&&!document.xmlVersion){if(!d.getElementById('bsBox')){void(y=document.createElement('script'));void(y.src='http://static.bshare.cn/b/bookmark.js#lang=zh');void(b.appendChild(y));}else{bShare.show();}}" class="icon share" title="分享网页">&#xe60c;</a>
		<div class="code" id="code">
      <i class="icon close" id="close">&#xe624;</i>
      <div class="codectt" id="codectt"></div>
    </div>
	</div>
</div>
<script>
var snippets = [
{% for item in site.pages %}
	{% assign type = item.dir | remove: '/snippets/' %}
  {% if type != '/' %}
		{ type: "{{ type }}", title: "{{ item.title }}", url: "{{ item.url }}" },
  {% endif %}
{% endfor %}
{}].slice(0, -1);
</script>