---
layout: default
---
<h2 id="shareList">{{ page.title }}<span class="edit"><a href="{{site.edit_path}}{{post.url}}">edit</a></span></h2>
<div class="statement">
	<p><strong time="{{page.date|date:%Y-%m-%d}}">时间：</strong>{{page.date|date:%Y-%m-%d}}</p>
	<p><strong>作者: </strong>{{site.author_info}}</p>
</div>

{{ content }}

<script type="text/javascript">
if(window.location.href.indexOf("?edit")>-1){
	var span = document.getElementById("shareList").getElementsByTagName("span");
	span[0].style.display = "inline";

	var t = span[0].children[0].href;
	span[0].children[0].href = t.replace(/(\d+)\//g, "$1-").replace(/\/$/, ".md");
}
	
</script>