---
layout: default
---
<h2 id="pageTitle">{{ page.title }}<span class="edit"><a href="{{site.edit_path}}{{page.url}}" target="_blank">edit</a></span></h2>
<div class="statement">
	<p><strong time='{{page.date|date:"%Y-%m-%d"}}'>日期：</strong>{{page.date|date:"%Y-%m-%d"}}</p>
	<p><strong>作者: </strong>{{site.author_info}}</p>
</div>

{{ content }}

<div id="tags" style="margin-top:40px;padding: 20px 0;border-top: 1px solid #CCC;">
	标签：
{% for tag in page.tags %}
    <span>{{ tag }}</span> 
{% endfor %}
</div>

<div class="page-paginator">
	<span title="{{page.previous.title}}">
	{% if page.previous.url %} 
		上一篇：<a href="{{page.previous.url}}">{{page.previous.title}}</a>
    {% endif %}
	</span><br />
	<span title="{{page.next.title}}">
        {% if page.next.url %} 
		下一篇：<a href="{{page.next.url}}">{{page.next.title}}</a>
        {% endif %} 
	</span>
</div>

<div class="ds-thread" itemprop="comment" data-thread-key="{{page.id}}" data-title="{{page.title}}"></div>


<script type="text/javascript">
window.duoshuoQuery = {short_name:"barretlee"};
(function() {
	var ds = document.createElement('script');
	ds.type = 'text/javascript';ds.async = true;
	ds.src = 'http://static.duoshuo.com/embed.js';
	ds.charset = 'UTF-8';
	(document.getElementsByTagName('head')[0] 
	|| document.getElementsByTagName('body')[0]).appendChild(ds);
})();

if(window.location.href.indexOf("?edit")>-1){
	var span = document.getElementById("pageTitle").getElementsByTagName("span");
	span[0].style.display = "inline";

    	span[0].children[0].href = span[0].children[0].href.replace(/(\d+)\//g, "$1-").replace(/\/$/, ".md");
}
	
</script>
